@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin box-shadow($property) {
  -webkit-box-shadow: $property;
     -moz-box-shadow: $property;
      -ms-box-shadow: $property;
          box-shadow: $property;
}

@mixin text-shadow($property) {
  -webkit-text-shadow: $property;
     -moz-text-shadow: $property;
      -ms-text-shadow: $property;
          text-shadow: $property;
}
$small: 520px;
$medium: 768px;
$large: 992px;

@mixin respond-to($media) {
  @if $media == medium-screens {
    @media only screen and (min-width: $small + 1) and (max-width: $medium - 1) { @content; }
  }
  @else if $media == wide-screens {
    @media only screen and (min-width: $medium + 1) and (max-width: $large - 1) { @content; }
  }
  @else if $media == large-screens {
    @media only screen and (min-width: $large) { @content; }
  }
}